@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #8500be;
    color: white;
    font-family: "Roboto Mono", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
.btn {
    padding: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    letter-spacing: 1px;
    color: #8e44ad;
}
.toast-container {
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.toast{
    background-color: #fff;
    color: black;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 3px;
    transition: .5s ease-in-out;
}
