@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #8e44ad;
    color: white;
    font-family: 'Roboto Mono', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    text-align: center;
    margin: 2rem 0;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
}
.item {
    object-fit: cover;
    margin: 10px;
    width: 300px;
    height: 300px;
    max-width: 100%;
}